body {
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

input {
    border-style: solid;
    border-radius: 2px;
}

ul {
    width: 300px;
    padding: 0px;
    list-style-type: none;
}

li {
    border-radius: 2px;
    background-color: darksalmon;
    padding: 10px;
    margin: 10px;
}

.container {
    display: flex;
    margin: auto;
}

.list {
    margin-left: 20px;
}
